/html/app/wp-content/uploads/
# ignore composer dir

html/vendor/**
# dont ignore seo-wordpress vendor
!html/app/wp-content/plugins/wordpress-seo/vendor/

*.log
*.zip
*.tar
*.tar.gz
*.lock
*.scssc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.com
*.class
*.dll
*.exe
*.o
*.so

.codekit-cache
*.css.map
*.js.map
/app.php
